/*
Color pallete
*/

html {
	font-family: "Roboto", Arial;
}

body {
	margin-right: 150px;
	margin-left: 150px;
}

#login {
	margin: 10px 0;
	background-color: #a4b5fc;
	display: grid;
	align-items: center;
	grid: 40px / repeat(8, 1fr);
	align-content: center;
}

#login a {
	color:#000;
	text-decoration: none;
	font-size: 20px;
	line-height: 100%;
}

#login img{
	max-height: 20px;
}

.logo {
	text-align: left;
	padding: 10px;
	grid-area: 1 / 1 / 1 / 1;
}

.signin {
	grid-area: 1 / 7 / 1 / span 2;
	text-align: center;
	padding: 10px;
	display: grid;
	grid: 40px  / repeat(2, 1fr);
}

#login .signin a:hover {
	background-color: #add8e6;
	text-decoration: underline;
}

.login-button {
	padding-top: 10px;
	padding-bottom: 10px;
	grid-area: 1 / 1 / 1 / span 1;
}


.sign-up-button {
	padding-top: 10px;
	padding-bottom: 10px;
	grid-area: 1 / 2 / 1 / span 1;
}

#nav-bar {
	display: grid;
	grid: 40px / repeat(8, 1fr);
	text-align: center;
	align-items: center;
	margin: 10px 50px;
	text-align: center;
}

#nav-bar a {
	text-decoration: none;
	color:#000;
	font-size: 16px;
}

#nav-bar a:hover {
	text-decoration: underline;
}

.search-box { 
	grid-area: 1 / 1 / 1 / span 3;
}

.search-form {
	display: grid;
}

.search {
	grid-area: 1 / 1 / 1  / span 2; 
	width: 100%;
	border: solid 1px #000;
	font-size: 16px;
}

.search-submit-button {
	grid-area: 1 / 3 / 1 / span 1;
	text-align: center;
	width: 100%;
	background-color: #d0d7f2;
	border: solid 1px #000;
	font-size: 16px;
}

.feature-listings {
	margin: 10px 50px;
}

.feature-listings h1 {
	padding: 10px;
	/* Might add a background color to the title of listing slider */
}

.image-slide { 
	display: grid;
	grid-template-rows: 250px 20px;
	column-gap: 10px;
	grid-auto-columns: 250px;
	list-style-type: none;
	align-items: center;
	overflow-x: scroll;
	overflow-y: hidden;
	visibility: hidden;
	margin-top: 30px;
	margin-bottom: 30px;
}

.image-slide:hover {
	overflow-x: scroll;
	overflow-y: hidden;
	visibility: visible;
}

.image-slide li img {
	visibility: visible;
	list-style-type: none;
	max-height: 200px;
	border: 2px solid black;
	background-color: lightgray;
}

.image-slide li p {
	visibility: visible;
	margin-right: auto;
	margin-left: auto;
	justify-content: center;
}

.image-slide-1 {
	grid-area: 1 / 1 / span 2 / span 1
}

.image-slide-2 {
	grid-area: 1 / 2 / span 2 / span 1
}

.image-slide-3 {
	grid-area: 1 / 3 / span 2 / span 1
}

.image-slide-4 {
	grid-area: 1 / 4 / span 2 / span 1
}

.image-slide-5 {
	grid-area: 1 / 5 / span 2 / span 1
}

.image-slide-6 {
	grid-area: 1 / 6 / span 2 / span 1
}

.image-slide-7 {
	grid-area: 1 / 7 / span 2 / span 1
}

.image-slide-8 {
	grid-area: 1 / 8 / span 2 / span 1
}

.image-slide-9 {
	grid-area: 1 / 9 / span 2 / span 1
}

.image-slide-10 {
	grid-area: 1 / 10 / span 2 / span 1
}