html {
	font-family: "Roboto", Arial;
}

body {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: repeat(3, 1fr);
}

header {
    grid-area: 1 / 1 / span 1 / span 1;
    display: grid;
    grid: 1fr / repeat(6, 1fr);
}

.logo {
    grid-area: 1 / 1 / 1 span / 1 span;
    max-height: 40px;
}

.login {
    margin: auto;
    grid-area: 2 / 2 / span 1 / span 1;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    text-align: center;
}

.login h1 {
    margin: 20px 20px 10px 20px;
    font-size: 30px;
}

.login label {
    margin: 15px;
    font-size: 16;
}

.login input { 
    margin: 15px;
    font-size: 16;
    min-width: 200px;
}

.login p {
    margin: 15px;
    font-size: 16;
}

.login button {
    margin: 15px;
    font-size: 16px;
    background-color: #a4b5fc;
	border: solid 1px #000;
    min-width: 150px;
}

.login a {
    text-decoration: none;
    color: #a4b5fc; 
}

.login a:hover {
    text-decoration: underline;
}